.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
} 

.center{
	text-align: center;
}

html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
} 
.footer{
    position: absolute;
    bottom: 0;
    left: 250px;
    right: 0;
    height:30px;
    background:#ffffff;
}