<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/page.css">



</head>
<body>

<div class="pageContentWrapper">
	<div class="sidenav">
		<a href="/index">Home</a> 
		<a href="/login">Login</a> 
		<a href="/registracija">Registracija</a>
	</div>



	<div class="container">
		<header id="main-header">
			<div class="header-top row">
				<img th:src="@{/images/header.jpg}"
					class="img-responsive center-block" width="" height=""
					alt="ChronoHeader" />
			</div>


		</header>
		<div class="header-top row">
			<img th:src="@{/images/How you doin.jpg}"
				class="img-responsive center-block" width="550" height="280"
				alt="ChronoHeader" />
		</div>
</div>

		
		<!-- footer -->
	
	<div class="footer">
	<footer id="main-footer" class="row">
			<p>Copyright&copy; Metropolitan VMV Team</p>
		</footer>
        </div>
</body>
</html>